html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  box-sizing: inherit;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #222;
  color: rgb(172, 170, 170);
  animation: fadeInLeft 1s ease-out;
}

.title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  color: rgb(226, 193, 43);
}

.container {
  height: 50vh;
  width: 30vw;
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.message {
  font-size: 2.2rem;
  color: rgb(216, 111, 200);
  /* maintain height so the container doesn't expand  */
  height: 2.2rem;
  text-align: center;
  transition: all 0.1s;
  text-transform: uppercase;
}

.reset {
  position: relative;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-color: #da3e3e;
  color: rgb(235, 235, 235, 0.8);

  width: 10rem;
  height: 10rem;
  margin-bottom: 3rem;

  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.6rem rgba(94, 94, 94, 0.9);
  cursor: pointer;
  transition: all 0.2s;
}

.reset:hover {
  top: 0.2rem;
  box-shadow: 0 0.4rem rgba(94, 94, 94, 0.822);
}

.reset:active {
  box-shadow: 0 0.2rem rgba(0, 0, 0, 0.5);
}

.player1__color {
  color: #6d8be6;
}

.player2__color {
  color: #e66d8b;
}

.winner {
  color: rgb(23, 180, 36);
  transform: scale(1.2);
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-weight: 500;
  border: 2px solid rgb(194, 192, 192);
  cursor: pointer;
}

.cell span {
  animation: textFadeIn 0.2s ease-in;
}

/* Animations */
@keyframes fadeInLeft {
  0% {
    transform: translateX(-30rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes textFadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Create 9 squares with no outer border  */
.cell-1,
.cell-2,
.cell-3 {
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.cell-1,
.cell-4,
.cell-7 {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.cell-5 {
  border-right: none;
  border-bottom: none;
}

.cell-3,
.cell-6,
.cell-9 {
  border-right: none;
  border-bottom: none;
}

.cell-7,
.cell-8,
.cell-9 {
  border-bottom: none;
}
.cell-8 {
  border-right: none;
}

/* Media Query */

@media only screen and (max-width: 1366px) {
  .container {
    width: 35vw;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 45vw;
    height: 50vh;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 40%;
  }

  .container {
    width: 55vw;
  }
}
